@media screen and (min-width: 1400px) {
    .wrapper{
        width:60%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        }
        body{
            background-color: black;
            font-size: 110%;
        }
    }
    .wrapper{
        position: relative;
    }
    @media screen and (max-width: 600px) {
        .content{
            display: grid;
            grid-template-columns: 100%;
            margin-left: 5%;
            margin-right: 5%;
        }

    }

    @media screen and (max-width: 1400px) {
        body{
           background-color:white;
           font-size: 120%;
         }
         .wrapper{
            position: relative;
        }
    }
    
    .header{
        background-color: gray;
       
        
    }
    .nav{
        
        display:flex;
        padding-left:10%;
        margin-top:0;
    }
    .info h1, .info h2{
        color:red;
    }
    .contact-type{
        color:white;
        background: red;
    }
   
    @media screen and (min-width: 1336px) {
       dl{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0px;
       }
     }
     @media screen and (min-width: 980px) {
     #contact{
         position:absolute;
         top: 1.5%;
         width:45%;
         height: 20vw;
         right:0px;
      }
    }
    @media screen and (min-width: 880px) {
    .content{
        width:85%;
        display:grid;
        grid-template-columns: 5fr 5fr;
        justify-content: center;

        margin-left: auto;
        margin-right: auto;
        grid-template-rows: 0.5fr 0.5fr;
        margin-top: 4%;
      }
      .content > #contact{
        order:1;
      }
    }
    #about p{
        width:80%;
        
    }
    .A{
        margin-bottom: 2%;
        border-bottom: 1px solid rgba(192, 192, 192, .5);;
    
        padding-bottom: 2%;
    }
    
    .A::before{ 
        margin-right: 5px;
        content: '\00a0';
        height: 20px;
        width: 20px;
        background-color:red;
        border-radius: 50%;
        display: inline-block;
        white-space: pre;
        
    }
    .skills-primary::before {
        content: "\AMain";
    white-space: pre-wrap;
    }
    .skills-secondary::before {
        content: "Others";
    white-space: pre-wrap;
    }
    div.skill{
        
        background-color: silver;
        margin-bottom: 1%;
        padding-bottom:2%;
        padding-top: 2%;
        padding-left: 1%;
       margin-top: 1%;
       width:99%;
    }
    .skills-primary .skill[ data-skill="5"] span{
        background-color: red;
        padding-right: 52%;
        padding-top: 1%;
        padding-bottom: 1%;
        color:white;
        padding-left: 1%;
    }
    .skills-primary .skill[ data-skill="3"] span{
        background-color: red;
        padding-right: 35%;
        padding-top: 1%;
        padding-bottom: 1%;
        color:white;
        padding-left: 1%;
    }
    .skills-primary .skill[ data-skill="1"] span{
        background: linear-gradient(
        to right,
        red 0%,
        red 70%,
        silver 50%,
        silver 100%
      );
        padding-top: 1%;
        padding-bottom: 1%;
        color:white;
        padding-left: 1%;
       
    }
    .skills-secondary .skill[ data-skill="9"] span{
        background-color: red;
        padding-right: 78%;
        padding-top: 1%;
        padding-bottom: 1%;
        color:white;
        padding-left: 1%;
    }
    .skills-secondary .skill[ data-skill="5"] span{
        background-color: red;
        padding-right: 53%;
        padding-top: 1%;
        padding-bottom: 1%;
        color:white;
        padding-left: 1%;
    }
    .skills-secondary .skill[ data-skill="7"] span{
        background-color: red;
        padding-right: 60%;
        padding-top: 1%;
        padding-bottom: 1%;
        color:white;
        padding-left: 1%;
        
    }

    .skills-secondary .skill{
        opacity: 0.75;
    }
   
    
.experience-type{
    font-weight: bold;
    color:red;
} 
.experience-institution::before{
    content: "@ ";
} 
.experience-institution{
   color:red;
   font-weight: lighter;
   margin-bottom: 0;
}
.experience-details{
    color:gray;
    font-size: 100%;
    padding-left: 2%;
   
}
.experience{
    margin-right: 7%;
}
.experience-location::before{
    content:"In "
}
h4{
    margin-bottom: 1%;
}
.experience-date-separator{
    color:red;
}
dl{
    display: flex;
}
h3{
    font-size: 100%;
}
#contact h3{
    font-size:0;
}
.contact-skype .contact-value{
    font-size: 0;
}
.contact-skype, .contact-phone,.contact-github ,.contact-email, .contact-facebook  { 
    margin-bottom: 0;
    margin-top: 0;
    font-size: 100%;
}
.contact-skype .contact-value{
    font-size: 0;
}

a:link{
    font-size: 100%;
    text-decoration:none;
    
}
.contact-email .contact-value{
    padding-left: 19%;
        
}
.contact-phone .contact-value{
   margin-left: 13%;
}
.contact-github .contact-value{
    padding-left: 18%;
   
 }
.contact-facebook .contact-value{
    padding-left: 15%;
}
.contacts{
    
    width: 100%;
    background:linear-gradient(
    to right,
    #ff0000 30%,
    red 0%,
    black  0%,
    black 100%
  );

padding-bottom: 0;
}

.contact-value>a{
    color: white;
}